* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Century Gothic ;
	font-size: 18px;
	background-image: url("fondo.jpg");
}

h1{
	text-align: center;
	font-family: Century Gothic;
	font-size: 50;
	color: #191970;
}

footer{
	bottom: 0;
	position: fixed;
	text-align: center;
	font-family: Century Gothic ;
	font-size: 14px;
	width: 100%;
}


.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.master {
	padding: 75px 0;
	width: 25%;
}

.master .formulario {
	text-align: center;
}

.master .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 90%;
	font-family: arial;
}

.master .formulario .boton {
	background: none;
	border: 1px solid #00BB2D;
	color: #000000;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}

.principal .formulario .boton:hover {
	border: 1px solid #fff;
}
.tareas .wrap{
	float: left;
	left: 50px;
	width: 40%;
	position: absolute;
}

.tareas .lista li {
border: 2px solid #EFB810;;
width: 75%;
}

.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 10px 0;
	text-decoration: none;

}

.tareas .lista li a:hover {
	text-decoration: line-through;
}
